<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <resultMap id="UserMap" type="com.example.entity.User">
        <id property="id" column="id" jdbcType="BIGINT" />
        <result property="username" column="username" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getAll" resultMap="UserMap">
        select * from user;
    </select>

    <select id="getById" parameterType="Long" resultMap="UserMap">
        select * from user where id=#{id, jdbcType=BIGINT};
    </select>

    <select id="insert" parameterType="com.example.entity.User">
        insert into user(id, username) values (#{id, jdbcType=BIGINT}, #{username, jdbcType=VARCHAR});
    </select>

</mapper>